/* Import Lobster Two font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

body, html, #root {
  font-family: 'Lobster Two', cursive !important;
  box-sizing: border-box;
}

/* Optionally, override MUI typography */
* {
  font-family: 'Lobster Two', cursive !important;
}

code {
  font-family: 'Courier New',
    monospace;
}

:root {
  --main: #f7f7f7;
  --secondary-main: rgb(255,194,43);
}


.bg-left-contact-glass {
  position: absolute;
width: 30%;
height: 40%;
background-color: aqua;
}